# if failed to read env dont use double quotes in any of the assignments
AWS_ACCESS_KEY_ID=<access key id starting with AKIA>
AWS_SECRET_ACCESS_KEY=<secret access key>
AWS_REGION=<aws region>
BUCKET_NAME=<bucket name>
QUEUE_URL=<queue url>

DB_HOST=mysql # when using docker give this name as mysql else give your host name
DB_USER=<db user>
DB_PASS=<db pass>
DB_PORT=3306
DB_NAME=<db name>
PORT=8000


# additional add when using mysql using docker
MYSQL_ROOT_PASSWORD=<root password>
MYSQL_DATABASE=<database name>
